# Session #1 Homework

In [1]:
import numpy as np
import pandas as pd

### Solution 1

In [2]:
np.__version__

'1.23.3'

### Solution 2

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
df.shape

(11914, 16)

### Solution 3

In [4]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [5]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Solution 4

In [6]:
len(df[df.Make == 'Audi']['Model'].unique())

34

### Solution 5

In [7]:
df.isnull().sum() > 0

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

### Solution 6

In [8]:
#Step 1:
df["Engine Cylinders"].median()

6.0

In [9]:
#Step 2:
most_frequent_value = df["Engine Cylinders"].mode()[0]
most_frequent_value

4.0

In [10]:
#Step 3:
df["Engine Cylinders"].fillna(most_frequent_value, inplace=True)

In [11]:
#Step 4:
df["Engine Cylinders"].median()

6.0

### Solution 7

In [12]:
#Step 1:
solution7 = df.copy()
solution7 = solution7[solution7["Make"]=='Lotus']
solution7.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [13]:
#Step 2:
solution7 = solution7[["Engine HP", "Engine Cylinders"]]
solution7.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

In [14]:
#Step 3
solution7.drop_duplicates(inplace=True)
solution7.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0

In [15]:
solution7.shape

(9, 2)

In [16]:
#Step 4:
X = solution7.to_numpy()

In [17]:
#Step 5:
XTX = np.matmul(X.T, X)

In [18]:
#Step 6:
XTX_inv = np.linalg.inv(XTX)

In [19]:
#Step 7:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [20]:
#Step 8:
XTX_inv @ X.T @ y

array([  4.59494481, -63.56432501])